<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeeklyStats"
            android:label="@string/title_activity_daily_stats"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".broadcast.NotificationActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.timetracker.actions.PAUSE"/>
                <action android:name="com.timetracker.actions.PLAY"/>
                <action android:name="com.timetracker.actions.STOP"/>
                <action android:name="com.timetracker.actions.CLOSE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>